include ./includes/links.pug

body
    .cart
        include ./includes/nav.pug
        main
            - let total = 0;
            - let subtotal = 0;
            h2.shopping-cart-heading #{title}
            .products-in-cart
            for item in cartItems
                h3 You Bought
                - let itemTotal = 0;
                .items-in-cart
                    .item-name-and-pic
                        img(alt=`${item.alt}` src=`${item.image}`)
                        p #{item.name}
                    .the-price
                        p $#{(item.price).toFixed(2)}
                    .the-quantity
                        h5 #{item.quantity}
                        - itemTotal = (item.price * item.quantity)*100;
                        - subtotal += itemTotal;
                    .total-x
                        p $#{(itemTotal/100).toFixed(2)}
            .checkout
                .final-price
                    p Subtotal: $#{(subtotal/100).toFixed(2)}
                    - let taxes = subtotal * .065;
                    p Tax: $#{(taxes/100).toFixed(2)}
                    p Shipping and Handling: $15
                    - total = subtotal + taxes + 1500;
                    p Total: $#{(total/100).toFixed(2)}
        include ./includes/footer.pug