include ./includes/links.pug

body
    .details
        include ./includes/nav.pug
        main
            .side-pictures
                p
            .main-picture
                img(alt=`${watch.alt}` src=`${watch.image}`)
            .information
                h2 #{watch.name}
                h3
                    | Decription
                p
                    | #{watch.description}
                h3 Availability
                p.details-availability 
                    if watch.inStock > 0
                        | In Stock
                    else
                        | Out Of Stock
                p $#{watch.price}
                .add-to-cart
                    i.fa.fa-minus
                    input(
                        class="details.quantity" 
                        placeholder="1" 
                        type="text"
                        )
                    i.fa.fa-plus
                    .product-quick-view
                        a(href=`http://localhost:8000/cart/add/id/${watch.id}/quantity/1`) Add to Cart
                    h3 Similar Watches
                        .similar-watches
                            a(href="#")
                                img(alt="Orient Bambino Version 8 from https://www.orientwatchusa.com/collections/all" src="/images/Orient/orient-orient-bambino-version-8.png")
                            a(href="#")
                                img(alt="Orient Symphony III from https://www.orientwatchusa.com/collections/all" src="/images/Orient/orient-symphony-iii.png")
                            a(href="#")
                                img(alt="Helios from https://www.orientwatchusa.com/collections/all" src="/images/Orient/orient-helios.png")
                    h3 Specifications
                    .details-specification
                        p
                            b Reference
                            | : #{watch.reference}
                        p
                            b Case Size
                            | : #{watch.cSize}mm
                        p
                            b Case Height
                            | : #{watch.cHeight}mm
                        p
                            b Lug To Lug
                            | : #{watch.lugToLug}mm
                        p
                            b Lug Width
                            | : #{watch.lWidth}mm
                        p
                            b Crystal Type
                            | : #{watch.crystalType}
                        p
                            b Water Resistance
                            | : #{watch.wResistance}
                        p
                            b Movement Caliber
                            | : #{watch.mCaliber}
                        p
                            b Case
                            | : #{watch.case}
                        p
                            b Case Back
                            | : #{watch.cBack}
                        p
                            b Crown
                            | : #{watch.crown}
                        p
                            b Dial Color
                            | : #{watch.dialColor}
                        p
                            b Strap
                            | : #{watch.strap}
                        p
                            b Bezel
                            | : #{watch.bezel}
                        p
                            b Jewels
                            | : #{watch.jewels} Jewels
                        p
                            b Power Reserve
                            | : #{watch.pReserve}
            include ./includes/footer.pug